APP_NAME="Akara LMS Admin"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DATABASE_URL="postgresql://postgres:password@localhost:5432/lms_db?schema=public"
DB_URL="${DATABASE_URL}"
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=lms_db
DB_USERNAME=postgres
DB_PASSWORD=password

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILAMENT_ADMIN_EMAILS=admin@akara.sch.id
FILAMENT_ADMIN_IDENTIFIERS=admin
FILAMENT_ADMIN_EMAIL=admin@akara.sch.id
FILAMENT_ADMIN_PASSWORD=Password123!
